/* LOGIN PAGE AND SIGNUP PAGE */
.display-box{ 
background-color: #cfd8dc;
width: 600px;
height:275px;
border-radius: 30px;
display: block;
margin : 0 auto;
padding: 30px;
text-align: center;
}
::placeholder {
color: #2286c3;
font-size: 18px;
opacity: 0.5;
text-align: center;
font-family: 'Istok Web', sans-serif;
}
.button-style{
background-color: #64b5f6;
color: white;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
font-size: 110%;
font-family: 'Istok Web', sans-serif;
text-align: center;
width: 40%;
margin-left: 25%;
margin-right: 25%;
margin: 10px;
border:1px solid #2286c3; 
}
.login-signup-text{
font-family: 'Istok Web', sans-serif;
color: #2286c3;
font-size: 25px;
}
.input-style{
color:#2286c3;
font-size: 15px;
text-align: center;
width: 150px;
margin: 10px;
border-radius:5px;
box-shadow: 2px 2px 0 #cfd8dc inset;
}

/* MAIN PAGE */
.container-fluid{
background-color: #ced7db;
}
.row{
background-color: #ced7db;
}
#map {
height: 440px;
width: 50%;
margin: 0 auto 0 auto;
border: 8px solid #1985c1;
border-radius: 30px;
}
.create-spot, .menu-style{
color:white;
font-family: 'Istok Web', sans-serif;
font-size: 16px;
padding: 10px 0px 0px 0px;
text-align: center;
}
#create-spot-button{
color:white;
font-size:20px;
text-align: center;
background-color: #1985c1;
padding: 20px;
margin:20px 0px 0px 0px;
}
#navbarSideButton{
color:white;
font-size:30px;
text-align: center;
background-color: #1985c1;
padding: 20px;
margin:20px 0px 0px 0px;
}
#navbarSide{
color:white;
background-color: #2286c3; 
}
.side-link{
color:white;
font-family: 'Istok Web', sans-serif;
font-size: 20px;
text-align: center;
}
.spot {
width: 100%;
background-color: #64b5f6;
height: 50px;
display: flex;
justify-content: space-between;
border-bottom: 1px solid gray;
margin: 0;
padding: 0;
color: white;
font-family: 'Istok Web', sans-serif;
font-size: 20px; 
}
.spot-label {
padding: 10px;
}
.spot-timeTo {
padding: 10px;
}
.pac-container {
z-index: 10000;
}
.pac-container:after{display:none !important;
}

/* TITLE */
#title {
color: #1985c1;
font-size: 40px;
font-family: 'Istok Web', sans-serif;
text-align:center;
}

/* SPOTS DELETION PAGE */
#delete-page-title{
color:#1985c1;
background-color:#ced7db;
font-size: 40px;
font-family: 'Istok Web', sans-serif;
text-align: center;
padding:40px;
}
#spots-deletion-list{
width: 50%;
background-color: #64b5f6;
height: 100px;
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 20px;
border-radius:20px;
border: 5px solid #1985c1;
color: white;
font-family: 'Istok Web', sans-serif;
font-size: 20px; 
}
#spot-deletion-confirm{
text-align: center;
margin-top: 40px;
margin-left: 50%;
margin-bottom: 50px;
font-family: 'Istok Web', sans-serif;
font-size: 30px;
border-radius: 30px;
background-color: #1985c1;
font-size: 20px;
padding: 20px;
margin: 50px;
height: 20%;
width: 15%;
color: white;
}
#spots-deletion-back{
border-radius: 30px;
background-color: #1985c1;
font-size: 20px;
padding: 20px;
margin: 50px;
height: 20%;
width: 15%;
float: left;
font-family: 'Istok Web', sans-serif;
color: white;
}

