.login-button{ 
background-color: #cfd8dc;
width: 500px;
height:200px;
border:1px solid black;
display: block;
margin : 0 auto;
padding: 60px;
text-align: center;
}

.email-style, .password-style{
color:#2286c3;
font-size: 20px;
text-align: center;
}

.login-button-style, .signup-button-style{
background-color: #64b5f6;
color: white;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
font-size: 110%;
font-family: 'Istok Web', sans-serif;
text-align: center;
width: 40%;
margin-left: 25%;
margin-right: 25%;
margin: 10px;
}

.login-text{
font-family: 'Istok Web', sans-serif;
}
