/* LOGIN PAGE AND SIGNUP PAGE */
<<<<<<< HEAD
.login-container, .signup-container{
background: url(../mySpots/assets/images/Map-bgd.jpg);
=======
.container-style{
background: url(../images/Map-bgd.jpg);
>>>>>>> 0fdb59f5033b53c56787dce2dc117133901b972c
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center; 
text-align: center;
background-size: cover;  
height: 100vh;
padding-top: calc(50vh - 150px);
}
.display-box{ 
background-color: #cfd8dc;
width: 600px;
height:275px;
border:1px solid #2286c3;
display: block;
margin : 0 auto;
padding: 30px;
text-align: center;
}
::placeholder {
color: #2286c3;
font-size: 18px;
opacity: 0.5;
text-align: center;
font-family: 'Istok Web', sans-serif;
}
.button-style{
background-color: #64b5f6;
color: white;
border-radius: 4px;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
font-size: 110%;
font-family: 'Istok Web', sans-serif;
text-align: center;
width: 40%;
margin-left: 25%;
margin-right: 25%;
margin: 10px;
border:1px solid #2286c3; 
}
.login-signup-text{
font-family: 'Istok Web', sans-serif;
color: #2286c3;
font-size: 25px;
}
.input-style{
color:#2286c3;
font-size: 15px;
text-align: center;
width: 150px;
margin: 10px;
border-radius:5px;
box-shadow: 2px 2px 0 #cfd8dc inset;
}

/* MAIN PAGE */
.container{
    background-color: #ced7db;
    text-align: center;
    background-size: cover;  
    height: 100vh;
    width: 100;
}
.menu-button{
    color:#9be7ff;
    font-family: 'Istok Web', sans-serif;
    font-size: 16px;
}
.menu-style{
    background-color: #9da6a9;
    width: 100px;
    height: 12px;
}
.menu-title{
    color: #2286c3;
    font-family: 'Istok Web', sans-serif;
    font-size: 30px;

}
.main-page-top{
    color: #2286c3;
    font-family: 'Istok Web', sans-serif;
    font-size: 45px;
    text-align: center;
    padding: 40px 0px 0px 0px;
}
.main-page-sub{
    color: #64b5f6;
    font-family: 'Istok Web', sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 0px;
}
.create-spot-shortcut{
    position: absolute; 
    top: 0; 
    right: 0; 
    width: 100px; 
    text-align:right;
}












/*.mainpage{
background-color: #cfd8dc;  
}
.sidenav {
height: 100%;
width: 0;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #9da6a9;
overflow-x: hidden;
transition: 0.5s;
padding-top: 60px;
}
.sidenav a {
padding: 30px 15px 15px 15px;
text-decoration: none;
font-size: 25px;
color: #9be7ff;
font-family: 'Istok Web', sans-serif;
display: block;
transition: 0.3s;
}
.sidenav a:hover {
color: #f1f1f1;
}
.sidenav .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
.style-spot-button{
background-color: #9be7ff;
color: white;
height: 30px;
text-align: center;
height:100px;
border: solid 10px;
}
.favorite-spots{
background-color: #2286c3;
color: white;
height: 30px;
text-align: center;
height:100px; 
}
.favorite-spots-two{
background-color: #64b5f6;
color: white;
height: 30px;
text-align: center;
height:100px; 
}
.opennav{
font-size:30px;
cursor:pointer;
color: #2286c3;
font-family: 'Istok Web', sans-serif;
}
.mainpagetitle{
color:#2286c3;
font-size: 40px;
font-family: 'Istok Web', sans-serif;
text-align: center;
background-color: #cfd8dc;
padding: 35px 10px 15px 10px;
}
.mainpagesub{
color:#9ea7aa;
font-size: 25px;
font-family: 'Istok Web', sans-serif;
text-align: center;
background-color: #cfd8dc;
}
.googlemapslayouthere{
color: green;
font-size: 50px;
text-align: center;
<<<<<<< HEAD
background: url(../mySpots/assets/images/Google-Maps.jpg);
height: 300px;
}

.modalmySpot {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    max-width: 100%;
    height: 200px;
    display: flex;

 
}
.modal.closed {
 
 /*   display: none; */
  
  }

.modalmySpot-overlay {

    /* recommendation:
       don't focus on the number "1000" here, but rather,
       you should have a documented system for z-index and 
       follow that system. This number should be pretty
       high on the scale in that system.
    */
    z-index: 1000;
  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  
  }
=======
background: url(./assets/images/Google-Maps.jpg);
height: 300px;
}*/
>>>>>>> 0fdb59f5033b53c56787dce2dc117133901b972c
